## kazoo generic gitignore

.eunit
.erlang.cookie
*~
.#*
*.log*
*.sasl
*.plt
*.app
.deps.mk*
.apps.mk*
.deps.rules
.test.deps
*.beam
*.so
*.o
*.d
*.pid
*.dump
*.swp

*.coverdata

/.edts
.project
.settings
.idea/

sup.bash

_rel/

*.md.bak
*.md.new

.rebar/

make/erlang-formatter/
.kerl
*.tar
.tool-versions

erlang.mk
.erlang.mk

## app specific gitignore
.apps.mk.*
